/*------------------------------------------------------------------------------


Howdy! This is the CSS file that controls the
Gray (fresh) color style on the WordPress Dashboard.

This file contains both LTR and RTL styles.


TABLE OF CONTENTS:
------------------
 1.0 - Left to Right Styles
 2.0 - Right to Left Styles


------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------
  1.0 - Left to Right Styles
------------------------------------------------------------------------------*/

html,
.wp-dialog {
	background-color: #fff;
}

textarea,
input[type="text"],
input[type="password"],
input[type="file"],
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
select {
	border-color: #dfdfdf;
	background-color: #fff;
	color: #333;
}

select {
	color: #000;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="file"]:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
select:focus {
	border-color: #bbb;
}

kbd,
code {
	background: #eaeaea;
}

input[readonly] {
	background-color: #eee;
}

.find-box-search {
	border-color: #dfdfdf;
	background-color: #f1f1f1;
}

.find-box {
	background-color: #f1f1f1;
}

.find-box-inside {
	background-color: #fff;
}

a.page-numbers:hover {
	border-color: #999;
}

body,
#wpbody,
.form-table .pre,
.ui-autocomplete li a {
	color: #333;
}

body > #upload-menu {
	border-bottom-color: #fff;
}

#postcustomstuff table,
#your-profile fieldset,
#rightnow,
div.dashboard-widget,
#dashboard-widgets p.dashboard-widget-links {
	border-color: #ccc;
}

#poststuff .inside label.spam,
#poststuff .inside label.deleted {
	color: red;
}

#poststuff .inside label.waiting {
	color: orange;
}

#poststuff .inside label.approved {
	color: green;
}

#postcustomstuff table {
	border-color: #dfdfdf;
	background-color: #F9F9F9;
}

#postcustomstuff thead th {
	background-color: #F1F1F1;
}

.widefat {
	border-color: #dfdfdf;
	background-color: #f9f9f9;
}
textarea.widefat {
	background-color: #fff;
}

div.dashboard-widget-error {
	background-color: #c43;
}

div.dashboard-widget-notice {
	background-color: #cfe1ef;
}

div.dashboard-widget-submit {
	border-top-color: #ccc;
}

ul.category-tabs li {
	border-color: transparent;
}

div.tabs-panel,
.wp-tab-panel,
ul.category-tabs li.tabs,
ul.add-menu-item-tabs li.tabs,
.wp-tab-active {
	border-color: #dfdfdf;
	background-color: #fff;
}

ul.category-tabs li.tabs,
ul.add-menu-item-tabs li.tabs,
.wp-tab-active {
	background-color: #fff;
}

input.disabled,
textarea.disabled {
	background-color: #ccc;
}
/* #upload-menu li a.upload-tab-link, */
#plugin-information .action-button a,
#plugin-information .action-button a:hover,
#plugin-information .action-button a:visited {
	color: #fff;
}

.widget .widget-top,
.postbox h3,
.stuffbox h3,
.widefat thead tr th,
.widefat tfoot tr th,
h3.dashboard-widget-title,
h3.dashboard-widget-title span,
h3.dashboard-widget-title small,
.find-box-head,
.sidebar-name,
#nav-menu-header,
#nav-menu-footer,
.menu-item-handle {
	background-color: #f1f1f1; /* Fallback */
	background-image: -ms-linear-gradient(top, #f9f9f9, #ececec); /* IE10 */
	background-image: -moz-linear-gradient(top, #f9f9f9, #ececec); /* Firefox */
	background-image: -o-li